gevent
gunicorn
adjustText
annotated-types
anyio
appdirs
beautifulsoup4
Bottleneck
Brotli
cairocffi
CairoSVG
certifi
cffi
charset-normalizer
click
contourpy
cssselect2==0.2.1
cycler
defusedxml
distro
et-xmlfile
exceptiongroup
Flask
fonttools
GDAL==3.9.0
googlemaps==2.5.1
greenlet
h11
h2
hpack==4.0.0
httpcore
httpx
hyperframe
idna
importlib_metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
munkres==1.1.4
numexpr
numpy
openai
openpyxl
overturemaps
packaging
pandas
pandas-stubs
Pillow
psycopg2
pyarrow==15.0.2
pycparser
pydantic
pydantic_core
pyee
pyparsing
pyppeteer
pyreadstat
PySocks
python-dateutil
pytz
PyYAML
requests
sas7bdat
scipy
selenium
setuptools==69.2.0
shapely
six
sniffio
soupsieve
SQLAlchemy
svgwrite
tinycss2
tornado
tqdm
types-pytz
typing_extensions
tzdata
urllib3
webencodings
websockets
Werkzeug
wheel==0.43.0
zipp