adjusttext
annotated-types
anyio
appdirs
atk-1.0
blas
blas-devel
blosc
bottleneck
brotli
brotli-bin
brotli-python
bzip2
c-ares
ca-certificates
cairo
cairocffi
cairosvg
certifi
cffi
cfitsio
charset-normalizer
click
contourpy
cssselect2
cycler
defusedxml
distro
et_xmlfile
exceptiongroup
expat
ffmpeg
fftw
flask
fmt
freetype
freexl
fribidi
gdal
gdk-pixbuf
geos
geotiff
gettext
gflags
gh
ghostscript
giflib
glog
gmp
gnutls
googlemaps
graphite2
graphviz
greenlet
gtk2
gts
h11
h2
harfbuzz
hdf4
hdf5
hpack
httpcore
httpx
hyperframe
icu
idna
imagemagick
importlib-metadata
itsdangerous
jbig
jinja2
json-c
kealib
kiwisolver
krb5
lame
lcms2
lerc
libabseil
libaec
libarchive
libarrow
libarrow-acero
libarrow-dataset
libarrow-flight
libarrow-flight-sql
libarrow-gandiva
libarrow-substrait
libass
libblas
libboost-headers
libbrotlicommon
libbrotlidec
libbrotlienc
libcblas
libcrc32c
libcurl
libcxx
libdeflate
libedit
libev
libevent
libexpat
libffi
libgd
libgdal
libgfortran
libgfortran5
libglib
libgoogle-cloud
libgoogle-cloud-storage
libgrpc
libiconv
libidn2
libjpeg-turbo
libkml
liblapack
liblapacke
libllvm16
libnetcdf
libnghttp2
libopenblas
libopus
libparquet
libpng
libpq
libprotobuf
libre2-11
librsvg
librttopo
libspatialite
libsqlite
libssh2
libtasn1
libthrift
libtiff
libunistring
libutf8proc
libuv
libvpx
libwebp
libwebp-base
libxcb
libxml2
libzip
libzlib
llvm-openmp
lz4-c
lzo
markupsafe
matplotlib
matplotlib-base
minizip
munkres
ncurses
nettle
nodejs
nspr
nss
numexpr
numpy
openai
openblas
openh264
openjpeg
openpyxl
openssl
orc
overturemaps
packaging
pandas
pandas-stubs
pango
pcre2
perl
pillow
pip
pixman
pkg-config
poppler
poppler-data
postgresql
proj
psycopg2
pthread-stubs
pyarrow
pycparser
pydantic
pydantic-core
pyee
pyparsing
pyppeteer
pyreadstat
pysocks
python
python-dateutil
python-tzdata
python_abi
pytz
pyyaml
re2
readline
requests
sas7bdat
scipy
selenium
setuptools
shapely
six
snappy
sniffio
soupsieve
spdlog
sqlalchemy
sqlite
svgwrite
tiledb
tinycss2
tk
tornado
tqdm
types-pytz
typing-extensions
typing_extensions
tzcode
tzdata
uriparser
urllib3
webencodings
websockets
werkzeug
wget
wheel
x264
xerces-c
xorg-kbproto
xorg-libice
xorg-libsm
xorg-libx11
xorg-libxau
xorg-libxdmcp
xorg-libxext
xorg-libxrender
xorg-libxt
xorg-renderproto
xorg-xextproto
xorg-xproto
xz
yaml
zipp
zlib
zstd