/* Getty Museum Inspired Style 2 */

body {
    font-family: 'Georgia', serif;
    color: #444;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    line-height: 1.8;
}

h1 {
    font-size: 2.5em;
    font-weight: 400;
    color: #111;
    margin: 20px 0;
    text-align: center;
}

#featureType {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    max-width: 800px;
    padding: 15px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

#featureType label {
    margin-right: 20px;
    font-size: 1.2em;
    color: #666;
}

#featureType input[type="checkbox"] {
    margin-right: 10px;
}

#map {
    height: 600px;
    margin: 20px auto;
    max-width: 90%;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

/* Additional styles for alternate pane */
